DATA_RAW_PATH=data/raw
DATA_PROCESSED_PATH=data/processed
DATASET_CSV_PATH=data/dataset.csv
MODEL_SAVE_DIR=models/saved
HAARCASCADE_FACE=haarcascades/haarcascade_frontalface_default.xml
HAARCASCADE_EYE=haarcascades/haarcascade_eye.xml
